<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: black;
        color: #fff;
        font-family: 'Caveat', cursive;
        font-size: larger;
      }
      .logo img{
        height: 4rem;
        width: 4rem;
        margin-left:2rem;
      }
      .text {
        font-size: 700%;
        text-align: center;
        margin-top: 10%;
      }
      .text1 {
        font-size: x-large;
        text-align: center;
      }
      .img_con {
        height: 30%;
        width: 20%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #000;
      }
      .img_con img {
        border-radius: 3%;
      }
      .ft div img {
        position: absolute;
      }
      .ft div .foo {
        position: absolute;
        width: 100%;
        margin-top: 5%;
        text-align: center;
        color: rgb(189, 187, 214);
      }
      .creation {
        position: absolute;
        margin-top: 30%;
        text-align: center;
        width: 100%;
        color: rgb(146, 143, 181);
      }
      .icon img{
        height: 2rem;
        margin-top:20rem;
      }
      @media screen and (max-width: 360px){
        .text{
          display: none;
        }
        .text1{
          display: none;
        }
      }
    </style>
    <title>tringle</title>
  </head>
  <body>
    <nav
      class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-transprant"
    >
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#"><img src="static\logo_white.svg" alt="NIRDESH"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/create/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>
          </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- ################################################################################################################-->
    <div class="container-fluid con1">
      <img src="static\the-lords-1920x1080.jpg" class="img-fluid" alt="hello" />
      <div class="card-img-overlay">
        <div class="card-body text-light">
          <p class="card-title diplay-1 font-weight-bolder text">THE_NIRDESH</p>
          <p class="crad-text text1">I Never Know How To Say GoodBay</p>
        </div>
      </div>
    </div>
    <!--66666666666666666666666666666666666666666666 this is the cards section 666666666666666666666666666666666666666666-->
    <div class="container mains">
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\Clothing1.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing2.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing3.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing4.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing5.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing6.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing7.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing8.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing9.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing10.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing11.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing13.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing14.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing15.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing16.jpeg" class="img-fluid" alt="" />
        </div>
      </div><div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing17.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing18.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing19.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing20.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing21.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing22.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing23.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing24.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing25.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing26.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing27.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing28.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing29.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing30.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing31.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing32.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing33.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing34.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing35.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing36.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing37.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing38.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing39.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing40.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing41.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing42.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing43.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing44.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing45.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing46.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing47.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing48.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing49.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing50.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing51.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing52.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 img_con">
          <img src="static\clothing53.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing54.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="p-2 img_con">
          <img src="static\clothing55.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>

    <!--####################################################################################################################-->
    <footer class="ft">
      <div>
        <img src="static\aloy5.jpg" class="img-fluid" alt="aloy5.jpg" />
        <div class="d-flex justify-content-evenly foo">
          <div class="p-2">
            <h5>Contact Us</h5>
            <p>
              Location <br />Call +91 8319873042 <br />nirdeshv9903@gmail.com
            </p>
          </div>
          <div class="p-2">
            <h5>About Us</h5>
            <p>
              Hello, I'm Niradesh Vishwakarma, a dedicated student pursuing
              Computer Science. <br />
              I have a solid academic foundation, with a focus on relevant
              <br />
              coursework and hands-on projects that have honed my skills in
              <br />
              programming, algorithms, and software development. <br />
            </p>
          </div>

          <div class="p-2">
            <h5>Address</h5>
            <p>
              Sharda Chowk, Gurudev Colony,<br />
              Jabalpur, Madhya Pradesh 48200
            </p>
          </div>
        </div>
      </div>
      <div class="creation">
        <h1>Created By The Nirdesh Vishwakarma</h1>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="p-2 icon">
          <a href="https://www.linkedin.com/in/nirdesh-vishwakarm-08508a247/"><img src="static\linkedin.svg" class="img-fluid" alt="" /></a>
        </div>
        <div class="p-2 icon">
          <a href="https://in.pinterest.com/nirdesh9903/_saved/"><img src="static\pinterest.svg" class="img-fluid" alt="" /></a>
        </div>
        <div class="p-2 icon">
          <a href="https://www.instagram.com/nirdesh_9903/"><img src="static\insta.svg" class="img-fluid" alt="" /></a>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
